body {
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgb(19, 172, 151);
  box-shadow: 1vw 1vw;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
body:hover {
  overflow: hidden;
  transform-origin: right;
  transform: translate(-30vw, -40%) rotate(-100deg);
  writing-mode: vertical-rl;
}
*/
html {
  background-color: rgb(49, 49, 49);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
