.button_div {
  background-color: #9fe321; /* Green */
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 2px;
  border: 3px dotted rgb(60, 48, 153);
}

/*background-color: #4caf50; */

#b1 {
  background-color: #676880;
  color: white;
  cursor: pointer;
}

#b2 {
  background-color: #676880;
  color: white;
  cursor: pointer;
}

#reset {
  background-color: #676880;
  color: #4d1394;
  cursor: pointer;
}
